<!--Start SideBar-->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul id="sidebar-nav">
        
        <li>
          <a href="/view-dept-user">
            <img src="../../../assets/img/icons/user-svgrepo-com.svg" alt="img" />
            <span>Employee Management</span>
          </a>
        </li>

        <li>
          <a href="/logOut">
            <img src="../../../assets/img/icons/log-out.svg" alt="img" />
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!---end Side bar-->
